

   <div class="home">
     <div class="home-a">

<div class="home-name">
<!--  <div class="container">
    <div class="row">
      <div class="col-md-5"> --><center>

  <h1 class="name">Cynthia Hong</h1>
  <h2 class="description-1">UX Designer.</h2></br>
  <a class="btn" href="#about-home">Find out more
    <!--<img class="arrow" src="/images/down-arrow.png" onmouseover="this.src='/images/down-arrow-hover.png"> --></a>
</div></div>
<!--</div>/</div>
</div>-->
</center>




<center>
<div class="about">
  <div id="about-home">
    ABOUT ME
  </div>
  <div class="divider"> </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
    <div class="col-md-2">
  <img class="mypic" src="/images/me copy.png" width="100%"></div>
  <div class="col-md-6">
  <div class="about-description">
  <p class="name-description"> <b>I'm Cynthia, a User Experience Designer based in San Diego, California.</b></p>
  <p class="more-description"> I'm currently attending University of California, San Diego,
  majoring in Cognitive Science with a Specialization in
  Human-Computer-Interaction. I'm always looking for new
  projects and opportunities, so feel free to keep in touch!</p></div>
</div>
</div></div>
</div>
</center>

<div class="footer">
  <div id="connect">
    <center>
      STAY IN TOUCH
    </center>
  </div>
  <center>
  <div class="divider"> </div>
    <p class="connect-2">
      <a href="mailto:c4hong@ucsd.edu"><img src="/images/email.png"> </a>
      <a href="#"><img src="/images/facebook.png"></a>
      <a href="https://twitter.com/cynthiaahong"><img src="/images/twitter.png"></a>
      <a href="https://instagram.com/cynthiaahong"><img src="/images/instagram.png"></a>
      <a href="#"><img src="/images/linkedin.png"></a>
    </center>
</div>

<center>
    <div class="project-short">
      <div id="project-home">
        MY PROJECTS
      </div>
      <div class="divider"> </div>


    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="/pierre"><img src="/images/project_1.jpg" width="300px" class="project-1"></a>
      </div>
        <div class="col-md-4">
          <a href="/pierre"><img src="/images/project_1.jpg" width="300px" class="project-1"></a>
        </div>
        <div class="col-md-4">
          <a href="/pierre"><img src="/images/project_1.jpg" width="300px" class="project-1"></a>
        </div>
      </div>
    </div>
<div class="view-project">
    <a class="btn2" href="/projects" data-scrollto="overview">View More Projects
      <!--<img class="arrow" src="/images/right-arrow.png">--></a>
</div>
  </div>
</center>
</div>
