<div class="home">
  <div class="home-a">
    <div class="home-name">
      <div id="empty"></div>
      <center>
        <h1 class="name">Cynthia Hong</h1>
        <h2 class="description-1">UX Designer.</h2></br>
        <a class="btn" href="#about-home">Find out more</a>
    </div>
  </div>
</center>

<center>
<div class="about">
  <div id="about-home">
    ABOUT ME
  </div>
  <div class="divider"> </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
    <div class="col-md-2">
  <img class="mypic" src="/images/me copy.png" width="100%"></div>
  <div class="col-md-6">
  <div class="about-description">
  <p class="name-description"> <b>I'm Cynthia, a User Experience Designer based in San Diego, California.</b></p>
  <p class="more-description"> I'm a 3rd year student and is currently attending University of California, San Diego,
  majoring in Cognitive Science with a Specialization in
  Human-Computer-Interaction. My focus and experience is in interaction
  design and information architecture, but I also enjoy front-end development.
  I'm always looking for new projects and opportunities, so feel
  free to keep in touch!</p>
  <p><b> Design. Test. Repeat.</b> </p>
  </div>
</div>
</div></div>
</div>
</center>

<div class="footer">
  <div id="connect">
    <center>
      STAY IN TOUCH
    </center>
  </div>
  <center>
  <div class="divider"> </div>
    <p class="connect-2">
      <a href="mailto:c4hong@ucsd.edu"><img src="/images/email.png"> </a>
      <a href="https://github.com/cynthiahong"><img src="/images/github.png"></a>
      <a href="#"><img src="/images/linkedin.png"></a>
    </center>
</div>

<center>
    <div class="project-short">
      <div id="project-home">
        MY PROJECTS
      </div>
      <div class="divider"> </div>


    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </br></br></br>
          <a href="/pierre"><img src="/images/project_1.jpg" width="300px" class="project-1"></a>
      </div>
      <div class="col-md-4">
        <a href="/mobile_playlist"><img src="/images/cogs_187.png" width="300px" class="project-1"></a>
      </div>
        <div class="col-md-4">
        </br></br></br>
          <a href="/portfolio_project"><img src="/images/project_portfolio.jpg" width="300px" class="project-1"></a>
        </div>
      </div>
    </div>
<div class="view-project">
    <a class="btn2" href="/projects" data-scrollto="overview">View More Projects
      <!--<img class="arrow" src="/images/right-arrow.png">--></a>
</div>
  </div>
</center>
</div>
