

<div class="home">
  <img class="home-picture" src="/images/home2.jpg" width="100%">
<div class="home-name">
  <h1 class="name">Cynthia Hong</h1>
  <h2 class="description-1">Aspiring </br> UX Designer.</h2>
  <a class="btn" href="#" data-scrollto="overview">Find out more
    <img class="arrow" src="/images/down-arrow.png"></a>
</div>
</div>

<div id="about">
  <center>
    ABOUT ME
    <div class="divider"> </div>
    <p> Here's a paragraph about me. </p>
  </center>
</div>

<div class="footer">
  <div class="connect">
    <center>
      STAY IN TOUCH
    </center>
  </div>
  <center>
  <div class="divider"> </div>
    <p class="connect-2">
      <a href="mailto:c4hong@ucsd.edu"><img src="/images/email.png"> </a>
      <a href="www.facebook.com/cynthiahong"><img src="/images/facebook.png"></a>
      <a href="www.twitter.com/cynthiaahong"><img src="/images/twitter.png"></a>
      <a href="www.instagram.com/cynthiahong"><img src="/images/instagram.png"></a>
      <a href="#"><img src="/images/linkedin.png"></a>
    </center>

</div>
