

<div class="home">
  <img class="home-picture" src="/images/home4.jpg" width="100%">
<div class="home-name">
  <h1 class="name">Cynthia Hong</h1>
  <h2 class="description-1">Aspiring </br> UX Designer.</h2>
  <a class="btn" href="#about-home" data-scrollto="overview">Find out more
    <img class="arrow" src="/images/down-arrow.png"></a>
</div>
</div>

<center>
<div class="about">
  <div id="about-home">
    ABOUT ME
  </div>
  <div class="divider"> </div>
  <p> here is a paragraph about me</p>

</div>
</center>

<div class="footer">
  <div id="connect">
    <center>
      STAY IN TOUCH
    </center>
  </div>
  <center>
  <div class="divider"> </div>
    <p class="connect-2">
      <a href="mailto:c4hong@ucsd.edu"><img src="/images/email.png"> </a>
      <a href="www.facebook.com/cynthiahong"><img src="/images/facebook.png"></a>
      <a href="www.twitter.com/cynthiaahong"><img src="/images/twitter.png"></a>
      <a href="www.instagram.com/cynthiahong"><img src="/images/instagram.png"></a>
      <a href="#"><img src="/images/linkedin.png"></a>
    </center>
</div>

<center>
    <div class="project-short">
      <div id="project-home">
        MY PROJECTS
      </div>
      <div class="divider"> </div>
      <p class="project-home2"> here are some projects </p>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/images/home4.jpg" width="300px">
        </div>
        <div class="col-md-4">
          <img src="/images/home4.jpg" width="300px">
        </div>
        <div class="col-md-4">
          <img src="/images/home4.jpg" width="300px">
        </div>
      </div>
    </div>
<div class="view-project">
    <a class="btn2" href="#" data-scrollto="overview">View More Projects
      <img class="arrow" src="/images/right-arrow.png"></a>
</div>
  </div>
</center>
