<header>
    <div class="container">
        <h1 class="logo"><i class="fa fa-magnet"></i>Cynthia Hong</h1>
        <i class="fa fa-bars toggle-menu"></i>
        <nav>
            <ul>
                <li><a href="#" data-scrollto="splash">Home</a></li>
                <li><a href="#" data-scrollto="overview">About</a></li>
                <li><a href="#" data-scrollto="feature">Projects</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
<section class="splash">
  <img class="pic" src="/images/home.jpg" width="125%">
        <h1>Cynthia Hong</h1>
        <h2>Aspiring UX Designer.</h2>
        <a class="btn" href="#" data-scrollto="overview">Find out more<i class="fa fa-angle-down"></i></a>
      </div>
</section>    


<section class="mypic"
  <div class="container">
    <div class="row">
      <div class=".col-xs-6">
        x
      </div>
      <div class=".col-xs-6">
        <img src="http://thumbs.dreamstime.com/t/gray-concrete-wall-panels-concrete-slab-close-up-good-patterns-backgrounds-website-58425621.jpg">
      </div>
    </div>
  </div>
      <h2> CYNTHIA HONG </h2>
    </div>
  </section>

  <div class="container">
  </div>
