<div class="project-page">
  <div class="project-header">
    <h2 class="title">Mobile Playlist Manangement: </h2>
  </div>
  <center>
  <div class="project-text">
  <div class="project-description">
    Mobile playlist manangement and navigation vary across many
    different mobile applications. Most users either use Spotify,
    Soundcloud, Apple Music, or Google Play. This project was
    designed with 2 other students in an Information Architecture course at
    UCSD, and we created an information architecture wireframe for mobile
    devices. In the 2-week process, my team and I conducted interviews,
    walkthroughs, made a competitive analysis, and created a
    high resolution wireframe.

    </article>
  </div>
  <div class="step-1">
    <h3> 1. User Research </h3>
    <div class="divider2"> </div>
    <div class="project-description">
      We interviewed 9 UCSD students between the ages of 18-23 who regularly
      listened to music on their cell phone. Many of the questions involved
      playlist management, and if
      they had any struggle with their mobile phone application with playlists.
    </br></br>Example questions are listed below:
      <ol></br>
        <li> What music app do you use? </li>
        <li> Tell me about the last time you made a playlist. Why and
        how did you make it? </li>
        <li> List some times when you would make a playlist. </li>
        <li> Do you ever revise your playlist to keep them fresh or
          to remove songs you're tired of? </li>
        <li> How do you discover new music? </li>
      </ol>

      Moreover, we found 3 different user scenarios based on their each person's
      interview. Each scenario explains where, when, why, and how. From the
      interviews, we concluded that managing playlists on Spotify was the
      easiest, while Soundcloud was the most difficult. Apple Music was fairly
      new, so there were not many users. Soundcloud was mostly only used
      if Spotify did not have songs the user enjoyed.

    </div>
  </div>
  <div class="step-2">
    <h3> 2. Walkthrough & Scenario</h3>
    <div class="divider3"> </div>
    <div class="project-description">
      Clearly, there are many different ways a person can manage their playlists
      when using different applications. We picked 5 juicy scenarios and we
      showed the walkthroughs for Spotify, Apple Music, and Soundcloud.
      For this, we created a Google Sheet for each juicy scenario and placed
      each app's walkthrough the scenario in a side-by-side comparison.
      We listed screenshots and each action that was used.
    </br></br>
      Juicy Scenarios: </br></br>
      <ol>
        <li> Create a playlist for when you are hosting a party. </li>
        <li> Delete a whole playlist that you've created before. </li>
        <li> Delete songs off your own playlist. </li>
        <li> Create a playlist for songs you recently discovered. </li>
        <li> Go through another playlist and add it to your "party" playlist. </li>
      </ol>

    Here's a screenshot of how we did scenario 3:
<img src="/images/scenario_3.jpg" width="100%">
  </div>
</div>
<div class="step-3">
  <h3> 3. Competitive Analysis</h3>
  <div class="divider3"> </div>
  <div class="project-description">
    For each of the three music applications, we compared how they classified
    their genres and non-genres. Next, we listed the different routes of
    navigation to an album's tracks. In addition, we compared how all the
    apps displayed their genres, non-genres, artists, albums, and album
    tracks. Spotify does not list their artists, but rather gives you playlists
    when you search for genres.
  </br>
  </br>
    Here's an example on four different platforms display their album tracks:
  </br></br>
    <img src="/images/album_tracks.jpg" width="100%">
  </div>
</div>
<div class="step-4">
  <h3> 4. Wireframing </h3>
  <div class="divider2"> </div>
  <div class="project-description">
    In the beginning of the project, we created a low-fidelity sketch
    on paper to show how we might structure the project. We decided to
    create a wireframe for scenario 3 (deleting 3 songs off your playlist)
    and scenario 4 (creating a new playlist for recently discovered songs).
  </br></br>
    Scenario 3: </br></br><center>
    <a href="https://drive.google.com/file/d/0B3wWHoAGKYTwM3cxdUwwZXVoQXc/view?usp=sharing">
      <img src="/images/wire_delete.jpg" width="75%"></a>
    </br></center></br>
    Scenario 4: </br></br>
    <center>
      <a href="https://drive.google.com/file/d/0B3wWHoAGKYTwdzhHYVVVNHh5blU/view?usp=sharing">
  <img src="/images/wire_discover.jpg" width="75%"></a>
  </center>
  </div>
</div>



<div class="step-5">
  <h3> 5. Hardest Decisions</h3>
  <div class="divider3"> </div>
  <div class="project-description">
  For the “Discover” page, we decided to use the overarching design that
  both Spotify and Apple Music had because they were extremely similar.
  However, we chose to use Spotify’s design choice of “Genres” instead
  of “New Music” because we found it is easier for users to search
  through these labels so that they could find music that they would
  like to listen to, instead of just having new popular music show up.
  Then from there, the user would decide whether or not to listen to
  popular playlists or the biggest icons in that specific genre. We
  decided this was the best possible choice for our project mainly
  because this flow of decisions helps the user decide what to do next,
  rather than exploring aimlessly, which Spotify sometimes does.
  </br>
  For adding newly discovered music, we had a little trouble deciding
  which method to use when finding new songs, something like Spotify
  or something like Pandora. We ultimately decided on something like
  Pandora, so that we did not have to deal with the troublesome genre
  lists that occurs when trying to find new music through the “Browse”
  section of Spotify. This was so the user can just focus on listening
  to new music and deciding whether or not to add the song to their playlist.
  The genre list and artist was decided to stay in the “Browse” section of the
  project, so that the user can literally browse all the genres and artists
  when they want, rather than having to find new music through browsing through
  all the songs.

</br></br>
Here's a sketch of the first wireframe we drew out for Scenario 4, but
did not go with it:
</br><center></br>

<a href="https://drive.google.com/file/d/0B3wWHoAGKYTwMU5yWWwwTzJpVUE/view?usp=sharing">
  <img src="/images/wire_bad.jpg" width="75%"></a>
</center>
  </div>
</div>

<div class="step-6">
  <h3> 6. Conclusion</h3>
  <div class="divider2"> </div>
  <div class="project-description">
    Information architecture is a long process and is definitely difficult.
    Conducting user research allows the designer to address fundamental issues
    and receive a bunch of information about their users.  User
    scenarios allows the designer to learn and understand the goals and
    motivations of the user.
    Creating a competitive analysis with multiple music applications allows
    me to see what is good design and what is bad design, in which then
    allows me to redesign what I think is better.
    Overall, I learned that conducting research before designing allows you
    to understand problems of the user. Sometimes, it might take multiple
    tries to create a good design.

  </br></br><center>
    Check out our interactive wireframe on Invision! :)
  </br>
    <a class="project-pdf" href="https://invis.io/SW6H4ZQ9R">Final Product</a>
  </br>
    <a href="https://invis.io/SW6H4ZQ9R"><img src="/images/cogs_187.png"> </a>
  </center>
  </div>
</div>

</div>
</div>
