<div class="project-page">
  <div class="project-header">
    <h2 class="title">Mobile Playlist Manangement: </h2>
  </div>
  <center>
  <div class="project-text">
  <div class="project-description">
    Mobile playlist manangement and navagation vary across many
    different mobile applications. Most users either use Spotify,
    Soundcloud, Apple Music, or Google Play. 
  </div>
  <div class="step-1">
    <h3> 1. Interview </h3>
    <div class="divider2"> </div>
    <div class="project-description">
      We interviewed 9 students who regularly listened to music on their
      cell phone. Many of the questions involved playlist management, and if
      they had any struggle with their mobile phone application with playlists.
      After, we found 3 different user scenarios based on their interview.
    </div>
  </div>
  <div class="step-2">
    <h3> 2. Walkthroughs and Scenarios</h3>
    <div class="divider2"> </div>
    <div class="project-description">
      info about coding
  </div>
</div>
<div class="step-3">
  <h3> 3. Competitive Analysis</h3>
  <div class="divider2"> </div>
  <div class="project-description">
    info
  </div>
</div>
<div class="step-2">
  <h3> 4. Wireframe</h3>
  <div class="divider2"> </div>
  <div class="project-description">
    info about coding
  </div>
</div>
</div>
</div>
