<div class="project-page">
  <div class="project-header">
    <h2 class="title">Creating a Mobile Web Application
    from Scratch: </h2>
    <h3 class="title">Pierre. </h3>
  </div>
  <center>
  <div class="project-text">
  <div class="project-description">
    One of the most stressful times for high school seniors is the college
    application process.
    High school students would benefit from being exposed to honest
    college experiences before making a decision regarding college.
    Over a course of 10 weeks, me and two others created a mobile
    web application that allows high school students to connect
    to college students and will be able to learn and chat more about
    the personal college experience.
  </div>
  <div class="step-1">
    <h3> 1. Needfinding </h3>
    <div class="divider2"> </div>
    <div class="project-description">
    First I observed a few people who performed tasks that relate
    to the idea of exchange. Exchange could be both tangible and
    intangible - a laptop, clothes, memories, knowledge, advice, etc.
    After observing my users, I brainstormed a list of specific
    user needs.
    </div>
</div>
<div class="step-2">
  <h3> 2. Prototyping </h3>
  <div class="divider2"> </div>
  <div class="project-description">
  After creating a list of user needs, we created a team inspiration
  board. The inspiration board helped us understanding the existing
  landscape, like a competitive analysis. This inspiration board included
  websites such as Reddit, UCSD Career Advice, a Mentor-Mentee Program,
  College Confidential, and College Board. Next, we used our inspirations
  to come up with two different design ideas illustrated on a storyboard.
  (Advice Pro was our old application name)
  <center>
  <h4> Storyboard #1: </h4>
  <img src="/images/storyboard_1.jpg">
  <h4> Storyboard #2: </h4>
  <img src="/images/storyboard_2.jpg">
  <img src="/images/storyboard_3.jpg">
</br></br>
  Next, we built two paper prototypes. </br>
  <h4> Prototype #1: </h4><!--
  <img src="/images/prototype1_1.jpg">
  <img src="/images/prototype1_2.jpg"></br>
  <img src="/images/prototype1_3.jpg">
  <img src="/images/prototype1_4.jpg">
  <img src="/images/prototype1_5.jpg">
  <img src="/images/prototype1_6.jpg"></br>-->
  <img src="/images/prototype1_7.jpg"><!--
  <img src="/images/prototype1_8.jpg">--></br>
  <h4> Prototype #2: </h4>
  <img src="/images/prototype2_1.jpg">
  <!--<img src="/images/prototype2_2.jpg">
  <img src="/images/prototype2_3.jpg">
  <img src="/images/prototype2_4.jpg">
  <img src="/images/prototype2_5.jpg">
  <img src="/images/prototype2_6.jpg">
  <img src="/images/prototype2_7.jpg">
  <img src="/images/prototype2_8.jpg">
  <img src="/images/prototype2_9.jpg"> --></br>
  Prototype 1 is more of creating an appointment with
  a college student based on your own interests, while
  prototype 2 is more forum-like.</center>
  </div>
</div>
  <div class="step-3">
    <h3> 3. Heuristic Evaluation </h3>
    <div class="divider2"> </div>
    <div class="project-description">
      Using Jakob Nielsen's ten usability heuristics, we
      recruited a few people to evaluate our prototypes.
      Here's a sample: </br><center>
    <img src="/images/he.png"></center>
  </div>
</div>
<div class="step-4">
  <h3> 4. Building the Website </h3>
  <div class="divider2"> </div>
  <div class="project-description">
    Here's a picture of our first developed home page: </br> <center>
  <img src="/images/home_1.png" width="25%"></center>
  </div>
</div>

<div class="step-5">
  <h3> 5. User Testing </h3>
  <div class="divider2"> </div>
  <div class="project-description">
    We tested our prototype with a few users to find ways
    to improve the interface of our app.
    <center>
    <img src="/images/user_test1.png" width="45%">
    <img src="/images/user_quote.jpg" width="50%">
  </center>
    <div class="step-5-2">
    One very important inconsistency we discovered from this phase of user
    testing was with our login and create account functions which
    tended to cause confusion with the flow of the interaction.
    To further test whether this was a user anomaly or an issue
    with the application, we turned to online testing to perform a
     A/B test using Google Analytics. We redesigned the create
     account page and tested the number of accounts that was
     created of using the redesigned and our original design.

    </div>
  </div>
</div>


<div class="step-5">
  <h3> 6. Results </h3>
  <div class="divider2"> </div>
  <div class="project-description">
    After 10 long weeks, our product is finally functional! <center>
    <img src="/images/Poster.png" width="75%"> </center>
    </div>
</div>

</div>
</center>
