<div class="project-page">
  <div class="project-header">
    <h2 class="title">Creating a Mobile Web Application
    from Scratch: </h2>
    <h3 class="title">Pierre. </h3>
  </div>
  <center>
  <div class="project-text">
  <div class="project-description">
    One of the most stressful times for high school seniors is the college
    application process.
    High school students would benefit from being exposed to honest
    college experiences before making a decision regarding college.
    Over a course of 10 weeks, me and two others created a mobile
    web application that allows high school students to connect
    to college students and will be able to learn and chat more about
    the personal college experience.
  </div>
  <div class="step-1">
    <h3> 1. Needfinding </h3>
    <div class="divider2"> </div>
    <div class="project-description">
    First I observed a few people who performed tasks that relate
    to the idea of exchange. Exchange could be both tangible and
    intangible - a laptop, clothes, memories, knowledge, advice, etc.
    After observing my users, I brainstormed a list of specific
    user needs.
    </div>
</div>
<div class="step-2">
  <h3> 2. Prototyping </h3>
  <div class="divider2"> </div>
  <div class="project-description">
  After creating a list of user needs, we created a team inspiration
  board. The inspiration board helped us understanding the existing
  landscape, like a competitive analysis. This inspiration board included
  websites such as Reddit, UCSD Career Advice, a Mentor-Mentee Program,
  College Confidential, and College Board. Next, we used our inspirations
  to come up with two different design ideas illustrated on a storyboard.
  (Advice Pro was our old application name)
  <h4> Storyboard #1: </h4>
  <img src="/images/storyboard_1.jpg">
  <h4> Storyboard #2: </h4>
  <img src="/images/storyboard_2.jpg">
  <img src="/images/storyboard_3.jpg">
</br></br>
  Next, we built two paper prototypes. </br>
  <h4> Prototype #1: </h4>
  <img src="/images/prototype1_1.jpg">
  <img src="/images/prototype1_2.jpg"></br>
  <img src="/images/prototype1_3.jpg">
  <img src="/images/prototype1_4.jpg">
  <img src="/images/prototype1_5.jpg">
  <img src="/images/prototype1_6.jpg"></br>
  <img src="/images/prototype1_7.jpg">
  <img src="/images/prototype1_8.jpg"></br>
  <h4> Prototype #2: </h4>
  <img src="/images/prototype2_1.jpg">
  <img src="/images/prototype2_2.jpg">
  <img src="/images/prototype2_3.jpg">
  <img src="/images/prototype2_4.jpg">
  <img src="/images/prototype2_5.jpg">
  <img src="/images/prototype2_6.jpg">
  <img src="/images/prototype2_7.jpg">
  <img src="/images/prototype2_8.jpg">
  <img src="/images/prototype2_9.jpg"></br>
  Prototype 1 is more of creating an appointment with
  a college student based on your own interests, while
  prototype 2 is more forum-like.
  </div>
</div>
  <div class="step-3">
    <h3> 3. Heuristic Evaluation </h3>
    <div class="divider2"> </div>
    <div class="project-description">
      Using Jakob Nielsen's ten usability heuristics, we
      recruited a few people to evaluate our prototypes.
      Here's a sample:
    <img src="/images/he.png">
    </div>
</div>
<div class="step-4">
  <h3> 4. Building the Website </h3>
  <div class="divider2"> </div>
  <div class="project-description">
    Here's a picture of our first developed home page:
  <img src="/images/home_1.png" width="25%">
  </div>
</div>

<div class="step-5">
  <h3> 5. User Testing </h3>
  <div class="divider2"> </div>
  <div class="project-description">
    We tested our prototype with a few users to find ways
    to improve the interface of our interface.
    Many of the problems we faced was having the user
    quickly create an account.
    <img src="/images/user_test1.png" width="25%">
    <div class="quote">
      “Where is the create account button?
      How can I login in if I don’t even have an account?”
    </div>
    <div class="step-5-2">
      After collecting some data, we created a re-design to
      prepare for A/B testing.
    </div>
  </div>
</div>

</div>
</center>
