<div class="project-page">
  <div class="project-header">
    <h2 class="title">Creating my Portfolio: </h2>
  </div>
  <center>
  <div class="project-text">
  <div class="project-description">
    This portfolio allows me to access my own skills, professional
    growth, and experience on one space. It allows me to see what I've accomplished,
    my strengths, weaknesses, and reflect on my skills and find improvement.
  </div>
  <div class="step-1">
    <h3> 1. Sketching </h3>
    <div class="divider2"> </div>
    <div class="project-description">
    First, I went onto <a class="project-pdf" href="https://www.apropose.com">apropose.com</a> and looked at other web portfolios. I found
    10 distinct portfolios and I critiqued them based on their brand,
    functionality, and trends (or layout). After some inspiration,I sketched
    out my portfolio and the basic designson Balsamiq.
    You can view the whole sketch in the below link.
    <a class="project-pdf" href="https://drive.google.com/file/d/0B3wWHoAGKYTwWjFXdm1mNms5Z2M/view?usp=sharing"> PDF Here</a>
    </div>
  </div>
  <div class="step-2">
    <h3> 2. Code</h3>
    <div class="divider2"> </div>
    <div class="project-description">
      Coding my own project was pretty simple on the most part.
      I've had previous coding experience with Java and C/C++
      before HTML. One thing I found difficult was trying to create
      the website in both mobile and desktop platform.
  </div>
</div>
<div class="step-3">
  <h3> 3. Project Descriptions</h3>
  <div class="divider2"> </div>
  <div class="project-description">
    I also found it very difficult to effectively describe all of my projects
    and the process of creating the final product.
</div>
</div>
</div>
