<div class="project-page">
  <div class="project-header">
    <h2 class="title">Creating my Portfolio: </h2>
  </div>
  <center>
  <div class="project-text">
  <div class="project-description">
    This portfolio allows me to access my own skills, professional
    growth, and experience on one space. It allows me to see what I've accomplished,
    my strengths, weaknesses, and reflect on my skills and find improvement.
    In addition, it allows employers to get an insight of my design process.

  <div class="step-1">
    <h3> 1. Sketching </h3>
    <div class="divider2"> </div>
    <div class="project-description">
    First, I went onto <a class="project-pdf" href="https://www.apropose.com">
      apropose.com</a> and created a competitive analysis for these portfolios. I found
    10 distinct portfolios and I critiqued them based on their brand,
    functionality, and trends (or layout). You can also  view it
    <a class="project-pdf" href="https://apropose.com/trendset/5697439b32b79e4ee40e91bf?src=1971">
      here.</a> My personal favorite examples include:


    <center>
    <div class="project-box">
      <a class="project-pdf2" href="http://willo-b.com/">
        <div class="project-examples">
         Jonathan Willoughby</br>
        <img class="portfolio-pic" src="images/willo-b.jpg" width="100%">
      </div>
      </a>
    </br>
      <a class="project-pdf2" href="http://robynchell.com/">
        <div class="project-examples">
         Robyn L  Chell</br>
        <img class="portfolio-pic" src="images/robyn.jpg" width="100%">
      </div>
      </a>
    </br>
      <a class="project-pdf2" href="http://pxlgk.com/">
        <div class="project-examples">
         Nelson Abalos Jr.</br>
        <img class="portfolio-pic" src="images/nelson.jpg" width="100%">
      </div>
      </a>
  </center>
  </div>
</div>

    </br>
     After some inspiration, I sketched out my portfolio with paper and pencil.
   </br></br>

   <center>
     <img src="http://i1030.photobucket.com/albums/y365/cynthiahong/home_sketch_zpspvxuskv0.jpg" width="50%" alt=" photo home_sketch_zpspvxuskv0.jpg"/></a>
     <!--<img src="/images/home_sketch.jpg" width="50%">--> </center></br>
    Then, I wireframed it on Balsamiq.
    You can view the whole sketch
    <a class="project-pdf" href="/images/portfolio_balsamiq.pdf">here.</a>
    </div>




  <div class="step-2">
    <h3> 2. Development</h3>
    <div class="divider2"> </div>
    <div class="project-description">
      Coding my own project is pretty simple on the most part.
      I've had previous coding experience with Java and C/C++
      before HTML.
      For this project I used:
      <li> HTML </li>
      <li> CSS </li>
      <li> Twitter Bootstrap </li>
      <li> Javascript </li>
      <li> Atom (text-editor) </li>
  </div>
  </div>
  <div class="step-3">
    <h3> 3. Hardest Decisions </h3>
    <div class="divider3"> </div>
    <div class="project-description">
      One thing I found difficult was trying to create
      the website in both mobile and desktop platform due to the full image
      picture on the home page. As of now (3/15/2016), my portfolio will be only in
      desktop form. I also found it very difficult to effectively describe all of my projects
      and the process of creating the final product.
  </div>
  </div>
  <div class="step-4">
    <h3> 4. Conclusion </h3>
    <div class="divider2"> </div>
    <div class="project-description">
      Creating an effective and high quality portfolio is very difficult,
      but having one in hand allows me to display my skills to future employers.
      <center>
      <div class="button">
        <a class="btn2" href="https://github.com/cynthiahong/portfolio.git"
        data-scrollto="overview">View GitHub</a>
      </div>
    </center>
    </div>
  </div>
  </div>
</div>
</div>
