<div class="project-page">
  <div class="project-header">
    <h2 class="title">My Work: </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="project-title">
          <h4>Pierre:</h4>
        </div>
        <div class="divider2"> </div>
        <div class="project-description">
          A mobile web application that allows high school students
          to connect to a college student and chat about their
          personal college experience.
        </div>
        <div class="button">
          <a class="btn2" href="/pierre" data-scrollto="overview">View Project</a>
        </div>
      </div>
    <div class="col-md-4">
      <a href="/pierre"><img src="/images/project_1.jpg"></a>
    </div>
    <div class="col-md-2"></div>
  </div>
</br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <a href="/portfolio_project"><img src="/images/project_portfolio.jpg" width="375px"></a>
    </div>
    <div class="col-md-4">
      <div class="project-title">
        <h4>Portfolio: </h4>
      </div>
      <div class="divider2"> </div>
      <div class="project-description">
        It's pretty difficult designing a portfolio website for yourself.
        The biggest question is: how do I make my profile unique?
        Here is my personal porfolio project that I created from scratch.
      </div>
      <div class="button">
        <a class="btn2" href="/portfolio_project" data-scrollto="overview">View Project</a>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="project-title">
        <h4>Mobile Playlist Manangement: </h4>
      </div>
      <div class="divider2"> </div>
      <div class="project-description">
        Created an information architecture wireframe for mobile
        platforms that supports music playing and playlist managing.
      </div>
      <div class="button">
        <a class="btn2" href="/mobile_playlist" data-scrollto="overview">View Project</a>
      </div>
    </div>
    <div class="col-md-4">
      <a href="/mobile_playlist"><img src="/images/project_1.jpg"></a>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
</div>
</br>
